.product {
    display: flex;
    flex-wrap: wrap;
    @include margin-space(-12px);

    &-banner {
        background: url("../images/product-header-1.png") no-repeat, url("../images/product-header-2.png") no-repeat;
        height: 296px;
        @include banner-size(50%, 100%, 50%, 100%);
        @include banner-pos(left, top, right, top);
    }

    &-hero {
        background: url("../images/product-header-3.png") no-repeat, url("../images/product-header-4.png") no-repeat;
        height: 296px;
        @include banner-size(50%, 100%, 50%, 100%);
        @include banner-pos(left, top, right, top);
    }

    &-border {
        border: 1px solid $gray200;
    }

    &-link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            height: 8px;
            background: $secondary;
        }
    }

    &-itemEven {
        max-width: 25%;
        @include padding-space(12px);
    }

    &-itemOdd {
        max-width: 33.33333%;
        @include padding-space(12px);
    }

    &-brown {
        display: inline-block;
        background: $brown;
        padding: 12px;
        border-radius: 4px;
    }

    &-buff {
        display: inline-block;
        background: $buff;
        padding: 12px;
        border-radius: 4px;
    }

    @include pad {
        &-itemEven {
            max-width: 50%;
        }
    }

    @include mobile {

        &-banner,
        &-hero {
            height: 136px;
        }

        &-itemEven {
            max-width: 100%;
        }
    }

    img {
        &:hover {
            filter: contrast(70%);
        }
    }
}